[submodule "Ore/modules/spdlog"]
	path = Ore/modules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ore/modules/GLFW"]
	path = Ore/modules/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Ore/modules/imgui"]
	path = Ore/modules/imgui
	url = https://github.com/TheCherno/imgui
